# Ignore everything
*

# But not these files...
!.gitignore
!projects/
!projects/**

# Don't ignore specific files outside the projects directory
!utils/**
!static/**
!models/**
!viewmodels/**
!views/**
